*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}
.background-back{
    background-color: #0f172a;
}
.header{
    background-color: #0f172a;
    /*width:auto;*/
    padding:40px 110px 38px 102px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
}
.logo a:hover{
    box-shadow: #9349fc 0px 3px 0px;

}
.dziri{
    position: absolute;
    left:110px;
    top:70px;
    text-decoration: solid;
    text-decoration-color:#9349fc;
}
.navigation a{
    margin-left: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#F8FAFC;
    text-decoration: none;
}
.navigation a:hover{
    box-shadow: #9349fc 0px 4px 0px;
}
.main{
    color:#f5f5f5;
    background-color: #0f172a;
    padding:53px 144px;
}
.section-one{
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.header-two{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-right: 870px;
}
.for-h2{
    margin-bottom: 42px;
}
.section-one h2:hover,
.latest-post h2:hover{
    box-shadow: #9349fc 0px 3px 0px;
}
.header-one{
    color: #9349fc;
}
.card-one{
    display: flex;
    align-items: center;
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    padding: 34px 8px;
}
.card-one:hover,
.card-two:hover{
    border: 1px solid #9449fc;
    border-radius: 20px;
}
.card-one img:hover{
    border: 1px solid #9349fc;
}
.article-one{
    margin-left: 36px;
}
.card-one h3{
    color: #F8FAFC;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
    margin-right:770px;
}
.card-one h3:hover{
    box-shadow: #9349fc 0px 3px 0px;
}
.card-one p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color:#CBD5E1;
    transform: rotate(0.14deg);
    margin-bottom: 14px;
}
.card-one p:hover{
    text-decoration: underline;
    text-decoration-color: #9349fc;
}
.sicariele-three-article{
    margin-left:29px;
}
.empty-two-article{
    margin-left:12px;
}
.article-three{
    margin-left: 106px;
}
.article-two{
    margin-left:76px;
}
.section-second{
    display: flex;
    flex-direction: column;
    gap:21px;
}
.latest-post{
    margin:94px 880px 62px 0px;
}
.header-three{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
.row-article{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.card-two{
    background: #1E293B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right:24px;
}
.article-post{
    text-align: center;
    margin:22px 14px 71px 13px;   
}
.article-post h4{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-bottom:3.45px;
}
.article-post h4:hover,
.article-post p:hover{
    text-decoration: underline;
    text-decoration-color: #9349fc;
}
.article-post p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.time-for{
    padding-bottom: 14px;
    color: #9CA3AF;
}
.footer{
    border-top: 1px solid #CBD5E1;
    background: #0F172A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 178px 56px 108px;
    margin-top:145px;
}
.copyright{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #F8FAFC;
}
.copyright:hover{
    box-shadow: #9349fc 0px 2px 0px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
ul li:hover{
    /*box-shadow: #9349fc4d 0px 0px 0px 3px;*/
    box-shadow: #9349fc 0px 1px 2px, #9349fc 0px 0px 0px 2px;
    
}